%h3 Home

/ - @users.each do |user|
/   %p
/     User: #{link_to user.name, user}
.flex-video
%iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "http://www.youtube.com/embed/0_EW8aNgKlA", width: "420"}

