%h3 Home

- @users.each do |user|
  %p
    User: #{link_to user.name, user}

/ #flex-video
/ 	%iframe (width="560" height="315" src="http://www.youtube.com/watch?v=Dkx4LYeFnVY&feature=share&list=PL7EDEF163A9B185EF" frameborder="0" allowfullscreen)